.root {
  border-bottom: var(--border-width) solid currentColor;
}

.root button > p {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--teal-3);
  text-decoration-thickness: 3px;
}
