.root {
  --space-gap: 0.5rem;
  --space-direction: row;
  --space-wrap: nowrap;

  width: 100%;
  display: flex;
  flex-direction: var(--space-direction);
  gap: var(--space-gap);
  flex-wrap: var(--space-wrap);
}

.rowYCenter {
  align-items: center;
}

.colToRow {
  flex-direction: column !important;
}

@media (orientation: landscape) {
  .colToRow {
    flex-direction: row !important;
  }
}
