.active {
  background-color: var(--red-1);
}

.idle {
}

.list {
  align-items: center;
  border: var(--border-width) solid currentColor;
}

.listLite {
  border: var(--border-width) solid currentColor;
  width: fit-content !important;
}

/* INPUT WITH CHIPS */
.inputWithChips {
  border: var(--border-width) solid currentColor;
}

.inputWithChips input {
  border: none;
}
.chipsRow {
  width: fit-content;
  width: 100%;
  max-width: 170px;
}

.grow {
  height: 100%;
}

.unsetBorderRadius > * {
  border-radius: 0 !important;
}
.tooltipAlpha,
.tooltipBeta,
.tooltipDelta {
  padding: var(--gap-3);
  background-color: var(--gray-5);
  position: relative;
}
.tooltipAlpha {
  width: 240px;
  aspect-ratio: 3/2;
}

.tooltipBeta {
  width: 240px;
  aspect-ratio: 1;
}

.tooltipDelta {
  width: 200px;
  aspect-ratio: 1;
}

.tooltipGhost {
  width: 200px;
  background-color: var(--gray-3);
}
